appdirs==1.4.3
asn1crypto==0.24.0
atomicwrites==1.2.1
attrs==18.2.0
backports-abc==0.5
backports.functools-lru-cache==1.5
beautifulsoup4==4.6.3
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
cryptography==2.3.1
cryptography-vectors==2.3.1
cycler==0.10.0
enum34==1.1.6
freezegun==0.3.10
funcsigs==1.0.2
functools32==3.2.3.post2
future==0.16.0
futures==3.2.0
geojson==2.3.0
html5lib==0.9999999
idna==2.7
ipaddress==1.0.22
isodate==0.6.0
kiwisolver==1.0.1
lxml==4.6.3
matplotlib==2.2.3
mkl-fft==1.0.6
mkl-random==1.0.1
mock==2.0.0
more-itertools==4.3.0
numexpr==2.6.6
numpy==1.15.2
pandas==0.23.4
pathlib2==2.3.2
pbr==4.2.0
pluggy==0.7.1
py==1.7.0
pycparser==2.19
pyOpenSSL==18.0.0
pyparsing==2.2.2
PySocks==1.6.8
pytest==3.8.2
python-dateutil==2.7.3
pytz==2018.5
requests==2.19.1
scandir==1.9.0
scikit-learn==0.20.0
scipy==1.1.0
singledispatch==3.4.0.3
six==1.11.0
subprocess32==3.5.3
suds-jurko==0.6
tables==3.4.4
tornado==5.1.1
urllib3==1.23
webencodings==0.5.1
